@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* horizontal scroll off */
}

/* Mobile/Tablet scrollbar hidden */
@media (max-width: 1024px) {
  body {
    overflow-y: hidden; /* vertical scroll hidden */
  }
}
